<form [formGroup]="formRegistro" (ngSubmit)="agregarUsuario()" novalidate >
    <div class="form-group">
    <li>
            <div class="form-check">
                <div *ngIf="usuario.errors && usuario.dirty"></div>
                    <div *ngIf="usuario.hasError('required')" class="alert alert-danger">El usuario es obligatorio</div>
                    <input type="text" class="form-control" id="usuario" placeholder="ingrese Usuario" formControlName="usuario">
            </div>
        </li>
        <br>
        <li>
            <div class="form-check">
                <div *ngIf="rut.errors && rut.dirty"></div>
                    <div *ngIf="rut.hasError('required')" class="alert alert-danger">El rut es obligatorio</div>
                    <input type="text" class="form-control" id="rut" placeholder="ingrese Rut" formControlName="rut">
            </div>
        </li>
        <br>
        <li>
            <div class="form-check">
                <div *ngIf="email.errors && email.dirty">
                    <div *ngIf="email.hasError('required')" class="alert alert-danger">El correo electrónico es obligatorio</div>
                    <div *ngIf="email.hasError('email')" class="alert alert-danger">El correo electrónico no tiene el formato adecuado</div>
                </div>   
                <input type="email" class="form-control" placeholder="correo electrónico" formControlName="email">
            </div> 
        </li> 
        <br>
        <li>
            <div class="form-check">
                <div *ngIf="region.errors && region.dirty"></div>
                    <div *ngIf="region.hasError('required')" class="alert alert-danger">La region es obligatorio</div>
                    <input type="text" class="form-control" id="region" placeholder="ingrese Region" formControlName="region">
            </div>
        </li>
        <br>
        <li>
            <div class="form-check">
                <div *ngIf="comuna.errors && comuna.dirty"></div>
                    <div *ngIf="comuna.hasError('required')" class="alert alert-danger">La comuna es obligatorio</div>
                    <input type="text" class="form-control" id="comuna" placeholder="ingrese Comuna" formControlName="comuna">
            </div>
        </li>
        <br>
        <li>
            <div class="form-check">
                <div *ngIf="password.errors && password.dirty"></div>
                    <div *ngIf="password.hasError('required')" class="alert alert-danger">La contraseñas es obligatoria</div>
                    <div *ngIf="password.hasError('maxlength')" class="alert alert-danger">La contraseña no tiene un máximo requerido </div>
                    <input type="password" class="form-control" id="password" placeholder="ingrese Password" formControlName="password">
            </div>
        </li>
        <br>
        <li>
            <div class="form-check">
                <div *ngIf="repassword.errors && password.dirty"></div>
                    <div *ngIf="repassword.hasError('required')" class="alert alert-danger">La contraseñas es obligatoria</div>
                    <div *ngIf="repassword.hasError('maxlength')" class="alert alert-danger">La contraseña no tiene un máximo requerido </div>
                    <input type="password" class="form-control" id="repassword" placeholder="ingrese Password" formControlName="repassword">
            </div>
        </li>
        <br>
        <div>
            
            <button type="submit" [disabled]="formRegistro.invalid" class="btn btn-primary mr-7" >Registro</button>      
        </div>
        <div>
    </div>
    </div>
</form>