<h1>
    Biologia
</h1>

<div>
    <ul>
        <li>Modulo 1: 
            <body>
                <img src="./assets/carusel/biologia.jpg" alt="Foto de modulo 1 de fisica" srcset="">     
            </body>
        </li>
        <li>Modulo 2: 
            <body>
                <img src="./assets/carusel/biologia.jpg" alt="Foto de modulo 2 de fisica" srcset="">     
            </body>
        </li>
        <li>Modulo 3: 
            <body>
                <img src="./assets/carusel/biologia.jpg" alt="Foto de modulo 3 de fisica" srcset="">     
            </body>
        </li>
        <li>Modulo 4: 
            <body>
                <img src="./assets/carusel/biologia.jpg" alt="Foto de modulo 4 de fisica" srcset="">     
            </body>
        </li>
    </ul>
</div>
