<h1>
    Matematicas
</h1>

<div>
    <ul>
        <li>Modulo 1: 
            <body>
                <img src="./assets/carusel/matematicas.png" alt="Foto de modulo 1 de matematicas" srcset="">     
            </body>
        </li>
        <li>Modulo 2: 
            <body>
                <img src="./assets/carusel/matematicas.png" alt="Foto de modulo 2 de matematicas" srcset="">     
            </body>
        </li>
        <li>Modulo 3: 
            <body>
                <img src="./assets/carusel/matematicas.png" alt="Foto de modulo 3 de matematicas" srcset="">     
            </body>
        </li>
        <li>Modulo 4: 
            <body>
                <img src="./assets/carusel/matematicas.png" alt="Foto de modulo 4 de matematicas" srcset="">     
            </body>
        </li>
    </ul>
</div>
