<h1>Quienes Somos</h1>
<div>

    <p >
        <span >
            En 1997, se traslada a su actual ubicación en el sector Los Pinos de Reñaca. 
            Nace como una iniciativa apostólica en la que sacerdotes y laicos se unieron 
            para servir a la comunidad desde el ámbito de la educación, conforme a los lineamientos 
            pedagógicos del Padre José Kentenich, fundador del Movimiento de Schoenstatt.
            
        </span>
        
    </p>
    <p >
        <span >
            El 15 de agosto de 1998, el Directorio coronó a la Virgen María como Madre, 
            Reina y Educadora del Colegio, consagrando y comprometiéndose con María en el cuidado, 
            protección y desarrollo de la comunidad. Un año después, en 1999, se realizó la coronación 
            como colegio, agradeciendo la conducción que Ella había tenido del colegio desde sus inicios, 
            reconocieron la magnitud de la misión que se les encargaba y en contraste a Ella, su pequeñez 
            y debilidad.
        </span>
    </p>
    <p >
        <span >
            Actualmente, nuestro colegio forma parte de la Fundación Pentecostés y cuenta con más de 680 
            alumnos que realizan su formación desde nivel medio mayor a cuarto medio y hemos visto egresar 
            hasta ahora más de 14 generaciones que han llevado a otros espacios educacionales, laborales y 
            familiares el sello Sagrada Familia.
        </span>
    </p>
</div>







