<h1>
    Lengua y Literatura
</h1>

<div>
    <ul>
        <li>Modulo 1: 
            <body>
                <img src="./assets/carusel/lenguaje.jpg" alt="Foto de modulo 1 de fisica" srcset="">     
            </body>
        </li>
        <li>Modulo 2: 
            <body>
                <img src="./assets/carusel/lenguaje.jpg" alt="Foto de modulo 2 de lengua y literatura" srcset="">     
            </body>
        </li>
        <li>Modulo 3: 
            <body>
                <img src="./assets/carusel/lenguaje.jpg" alt="Foto de modulo 3 de lengua y literatura" srcset="">     
            </body>
        </li>
        <li>Modulo 4: 
            <body>
                <img src="./assets/carusel/lenguaje.jpg" alt="Foto de modulo 4 de lengua y literatura" srcset="">     
            </body>
        </li>
    </ul>
</div>

