ul{
    list-style-type: none;
}

.me-2{
    height: 50px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.container-fluid a{
    color:rgb(22, 21, 21);
    text-decoration: none;
}